.nav { display:flex; gap:1rem; align-items:center; padding:1rem; }
.grid-layout { display:grid; grid-template-columns: 1fr 2fr; gap:1rem; }
.card { padding:1rem; border:1px solid #ddd; };

@media (max-width:700px) {
  .grid-layout { grid-template-columns: 1fr }
  .nav { justify-content:space-between; }
}